<article class="blog">
    <header class="headline">
      {{- partial "content-header.html" . }}
    </header>
  {{ partial "heading-pre.html" . }}{{ partial "heading.html" . }}{{ partial "heading-post.html" . }}
  
  <div class="wrap mt post">
    <div>
  
      <div class="post_body">
        <div class="post_inner">
        {{- with .Params.imagecust }}
          {{- $image := . }}
          {{- if ne (in . "images") true }}
            {{- $image = printf "images/%s" . }}
          {{- end }}
          {{- $image = absURL $image }}
          {{- if in . "https://" }}
            {{- $image = . }}
          {{- end }}
          <img src="{{ $image }}" alt="{{ . }}" class="post_thumbnail"/>
        {{- end }}
        </div>
  
        <div>
        <!-- {{ template "_internal/disqus.html" . }} -->
        </div>
      </div>
    </div>
  </div>
  
  {{ partial "article-content.html" . }}
    <footer class="footline">
      {{- partial "content-footer.html" . }}
    </footer>
  </article>