.section
  &_title
    font-size: 1.25rem
  &_link
    font-size: 0.9rem
    font-weight: 400
    
rect.rectClass
  stroke: rgb(255, 0, 0)
  stroke-width: 4px
  fill: rgb(255, 255, 255)
  fill-opacity: 0

circle.circleClass
  stroke: #006600
  fill: #cc0000

rect.rectClass:hover
  fill: red
  fill-opacity: .3
