.wrap
  max-width: 1240px
  @media screen and (min-width: 1640px)
    max-width: 1600px
  &, &
    width: 100%
    padding: 0 25px
    margin: 0 auto

@for $i from 1 through 8
  $size: $i * 1.5rem
  $x-size: $size * 0.5
  .pt-#{$i}
    padding-top: $size

  .pb-#{$i}
    padding-bottom: $size

  .mt-#{$i}
    margin-top: $size

  .mb-#{$i}
    margin-bottom: $size
    
%grid
  display: grid
  grid-template-columns: 1fr

[class*='grid-']
  grid-gap: 2rem

.grid-2, .grid-3, .grid-4, .grid-auto, .grid-reverse
  @extend %grid

@media screen and (min-width: 42rem)
  .grid-auto
    grid-template-columns: 2fr 5fr

  .grid-reverse
    grid-template-columns: 3fr 1fr

  .grid-2
    grid-template-columns: repeat(2, 1fr)

  .grid-3
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))

  .grid-4
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr))


.chart
  display: grid
  grid-gap: 1.5rem
  min-width: 0
  max-width: 98vw !important
  max-height: 98vw !important


//Fix Video in position

.post-vid
  max-width: 840px !important
  margin-left: auto
  margin-right: auto
  &-dot
    background-color: var(--accent)
    border-color: var(--theme)
    border-style: dotted
    border-radius: 6px 6px 6px 6px
    padding: 0.75rem 1.25rem
    max-width: 840px !important
    margin-left: auto
    margin-right: auto


//Post Dotted block

.post-block
  max-width: 840px !important
  margin-left: auto
  margin-right: auto
  &-dot
    background-color: var(--accent)
    border-color: var(--theme)
    border-style: dotted
    border-radius: 6px 6px 6px 6px
    display: flex
    align-items: center
    padding: 0.75rem 1.25rem


// SVG 
rect.rectClass
  stroke: rgb(255, 0, 0)
  stroke-width: 4px
  fill: rgb(255, 255, 255)
  fill-opacity: 0

circle.circleClass
  stroke: #006600
  fill: #cc0000

rect.rectClass:hover
  fill: red
  fill-opacity: .3

// Fix for medium zoom to fade element
.tip::before
  z-index: unset