{{- $config := site.Params }}
{{- $author := $config.author }}
{{- if ne $config.enableCopyright false }}
<footer class="pt-2 pb-2">
  <div class="wrap">
    <p>&copy; <span class="year">{{ now.Year }}</span>{{ with $author }} <a href ="{{ absLangURL .url }}" target="_blank" rel="noopener">{{ .name }}</a>{{ end }}</p>
    <a href="#pagetop" id="toTop" title={{ T "to_top" }}></a>
  </div>
</footer>
{{ else }}
<footer class="pt-2 pb-2">
  <div class="wrap">
    <a href="#pagetop" id="toTop" title={{ T "to_top" }}></a>
  </div>
</footer>
{{- end }}



Brookhaven 🏡RP Mystery unofficial guide

<script src="/js/medium-zoom.js"></script>
<script>
  mediumZoom('#zoom-default', {
    background: 'rgba(25, 18, 25, .9)',
    margin: 30,
    scrollOffset: 80
  })

  mediumZoom('#zoom-container1', {
    container: '#zoom-container1',
    background: 'rgba(25, 18, 25, .9)'
  })

  mediumZoom('#zoom-container2', {
    container: '#zoom-container2',
    background: 'rgba(25, 18, 25, .9)'
  })
  
</script>