{{- $img := "images/bh/collage.png" | absURL }} 
{{- if .Params.image }}
    {{/*  {{- $img = .Params.image | absURL}}  */}}
    {{- if or (hasPrefix .Params.image "http") (hasPrefix .Params.image "www.") }}
        {{- $img = .Params.image }}
    {{- else }}
        {{- $img = (printf "%s%s" "images/" .Params.image) | absURL}}
    {{- end }}
{{- end }}

{{- if or ( .IsHome ) ( not .Description ) -}}
    {{- partial "website-site-schema.html" . -}}
    {{- partial "imgObj-site-schema.html" . -}}
    {{- partial "breadcrumb-site-schema.html" . -}}
{{- else }}
{{/*  TypeZ {{ .Page.Type }}
isPageZ {{ .IsPage }}
isSectionZ {{ .IsSection }}  */}}
    {{- if and ( eq .Page.Type "blog" ) ( .IsSection ) }}
        {{- partial "blog-site-schema.html" . -}}
        {{- else if eq .Page.Type "blog" }}
            {{- partial "blog-site-schema.html" . -}}
    {{- end }}

    {{- if and (or ( .IsSection ) ( not .Description )) ( ne .Page.Type "about") -}}
        {{- partial "breadcrumb-site-schema.html" . -}}
    {{- end }}

    {{- if and ( eq .Page.Type "lore" ) }}
        {{- partial "lore-article-site-schema.html" . -}}
    {{- end }}
    
    {{- if and ( eq .Page.Type "casebook" ) }}
        {{- partial "lore-article-site-schema.html" . -}}
    {{- else }}
        {{- partial "website-site-schema.html" . -}}
        {{- partial "imgObj-site-schema.html" . -}}
    {{- end }}

{{- end }}
