{{- $showhidden := .Get "showhidden"}}
{{- $style :=  .Get "style" | default "li" }}
{{- $depth :=  .Get "depth" | default 1 }}
{{- $withDescription :=  .Get "description" | default false }}
{{- $sortTerm :=  .Get "sort" | default "Weight" }}
{{- $custStyle := .Get "cust" | default "disclosure-closed" }}
{{- $block := .Get "block" | default false }}
{{- $img := .Get "img" | default false }}

{{- .Scratch.Set "current" .Page }}

{{- if (.Get "page")}}
	{{- with .Site.GetPage "section" (.Get "page") }}
		{{- $.Scratch.Set "current" . }}
	{{- end }}
{{- end }}

{{- $cpage := (.Scratch.Get "current") }}
{{/*  <hr style="background-color: #2831b4" size=8>   */}}
{{/*  <div style="background: white;">  */}}
<ul class="children children-{{$style}}" style="list-style-type: {{$custStyle}};">
	{{- .Scratch.Set "pages" $cpage.Pages }}
    {{- if $cpage.Sections}}
	    {{ .Scratch.Set "pages" ($cpage.Pages | union $cpage.Sections) }}
    {{- end}}
    {{- $pages := (.Scratch.Get "pages") }}
	{{- if eq $sortTerm "Weight"}}
		{{- template "childs" dict "menu" $pages.ByWeight "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "sortTerm" $sortTerm "custStyle" $custStyle "block" $block "img" $img}}
	{{- else if eq $sortTerm "Name"}}
		{{- template "childs" dict "menu" $pages.ByTitle "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "sortTerm" $sortTerm "custStyle" $custStyle "block" $block "img" $img}}
	{{- else if eq $sortTerm "PublishDate"}}
		{{- template "childs" dict "menu" $pages.ByPublishDate "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "sortTerm" $sortTerm "custStyle" $custStyle "block" $block "img" $img}}
	{{- else if eq $sortTerm "Date"}}
		{{- template "childs" dict "menu" $pages.ByDate "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "sortTerm" $sortTerm "custStyle" $custStyle "block" $block "img" $img}}
	{{- else if eq $sortTerm "Length"}}
		{{- template "childs" dict "menu" $pages.ByLength "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "sortTerm" $sortTerm "custStyle" $custStyle "block" $block "img" $img}}
	{{- else}}
		{{- template "childs" dict "menu" $pages "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "sortTerm" $sortTerm "custStyle" $custStyle "block" $block "img" $img}}
	{{- end}}
	</ul>

{{- .Inner|safeHTML}}

{{- define "childs" }}
	{{- range .menu }}
		{{- if and .Params.hidden (not $.showhidden) }} 
		{{- else}}
			{{- if and (eq $.count 1) ($.block) }}
				{{/*  <hr style="background-color: #28b44c" size=8>   */}}
				<div class='expand-li'>
			{{/*  <div class="expand-li">  */}}
			{{- end }}
			{{- if hasPrefix $.style "h"}}
				{{- $num := sub ( int (trim $.style "h") ) 1 }}
				{{- $numn := add $num $.count }}

				{{- (printf "<h%s>" $numn)|safeHTML }}
					{{- if $.img }}
						{{- if .Params.Image }}
							{{- $image_type_arr := split .Params.Image "." }}
							{{- $image_ext := index $image_type_arr 1 }}

							{{- if eq $image_ext "svg" }}

							<div class="image-container">
								<a href="{{ .RelPermalink }}" ><img src="{{ .Params.Image}}" alt="Picture of {{ .Title }} page" loading="lazy" style="width: 100%;">
							<div class="overlay-text">
								<i class="fa-solid fa-arrow-right"></i> {{ .Title }}
							</div></a></div>

							{{- else }}

							<div class="image-container">
								<a href="{{ .RelPermalink }}" ><img src="{{ .Params.Image}}" alt="Picture of {{ .Title }} page" loading="lazy" >
							<div class="overlay-text">
								<i class="fa-solid fa-arrow-right"></i> {{ .Title }}
							</div></a></div>
							{{- end }}
						{{- else }}
						<a href="{{ .RelPermalink }}" class="button" ><i class="fa-solid fa-arrow-right"></i> {{ .Title }}</a>
						{{- end }}
					{{- else }}
						<a href="{{ .RelPermalink }}" >{{ .Title }}</a>
					{{- end }}
				{{- (printf "</h%s>" $numn)|safeHTML}}

			{{- else}}
				{{/*  prints <li>  */}}
				{{- (printf "<%s>" $.style)|safeHTML }}
				<a href="{{ .RelPermalink }}" >{{ .Title }}</a>
				{{/*  prints </li>  */}}
				{{- (printf "</%s>" $.style)|safeHTML }}

			{{- end}}
			
			{{- if $.description }}
				{{- if .Description}}
					<p>{{.Description}}</p>
				{{- else}}
					<p>{{.Summary}}</p>
				{{- end}}
			{{- end}}

			{{- if and (eq $.count 1) ($.block) }}
					</div>
					{{/*  <hr style="background-color: #9828b4" size=8>  */}}
			{{- end }}

			{{/*  This math could be better  */}}
			{{- if lt $.count $.depth}}
				{{- if eq $.style "li"}}
					<ul>
				{{- end}}

				{{- .Scratch.Set "pages" .Pages }}
				
				{{- if .Sections}}
					{{- .Scratch.Set "pages" (.Pages | union .Sections) }}
				{{- end}}

				{{- $pages := (.Scratch.Get "pages") }}
				{{- if eq $.sortTerm "Weight"}}
					{{- template "childs" dict "menu" $pages.ByWeight  "style" $.style "showhidden" $.showhidden "count" (add $.count 1) "depth" $.depth "pages" $.pages "description" $.description "sortTerm" $.sortTerm "custStyle" $.custStyle "block" $.block "img" $.img }}
				{{- else if eq $.sortTerm "Name"}}
					{{- template "childs" dict "menu" $pages.ByTitle  "style" $.style "showhidden" $.showhidden "count" (add $.count 1) "depth" $.depth "pages" $.pages "description" $.description "sortTerm" $.sortTerm "custStyle" $.custStyle "block" $.block "img" $.img }}
				{{- else if eq $.sortTerm "PublishDate"}}
					{{- template "childs" dict "menu" $pages.ByPublishDate  "style" $.style "showhidden" $.showhidden "count" (add $.count 1) "depth" $.depth "pages" $.pages "description" $.description "sortTerm" $.sortTerm "custStyle" $.custStyle "block" $.block "img" $.img }}
				{{- else if eq $.sortTerm "Date"}}
					{{- template "childs" dict "menu" $pages.ByDate  "style" $.style "showhidden" $.showhidden "count" (add $.count 1) "depth" $.depth "pages" $.pages "description" $.description "sortTerm" $.sortTerm "custStyle" $.custStyle "block" $.block "img" $.img }}
				{{- else if eq $.sortTerm "Length"}}
					{{- template "childs" dict "menu" $pages.ByLength  "style" $.style "showhidden" $.showhidden "count" (add $.count 1) "depth" $.depth "pages" $.pages "description" $.description "sortTerm" $.sortTerm "custStyle" $.custStyle "block" $.block "img" $.img }}
				{{- else}}
					{{- template "childs" dict "menu" $pages  "style" $.style "showhidden" $.showhidden "count" (add $.count 1) "depth" $.depth "pages" $.pages "description" $.description "sortTerm" $.sortTerm "custStyle" $.custStyle "block" $.block "img" $.img }}
				{{- end}}
				{{- if eq $.style "li"}}
				</ul>
				{{- end}}
			{{- end}}
		{{- end}}
	{{- end}}
	{{/*  {{- if eq $.count 1}}  */}}
	{{/*  <hr style="background-color: #cc5e1f" size=8>  */}}
			{{/*  </div>  */}}
	{{/*  {{- end }}  */}}
{{- end}}